<div class="bg">
  <div class="container">
    <h1 class="Profil">My Profile</h1>
    <div class="email-container">
      <p id="Email">Email:</p> 
      <p>{{ userEmail }}</p>
    </div>
    
    <div class="buttons-container">
      <button 
        class="Button"
        mat-button 
        color="primary" 
        (click)="toggleChangeEmail()" 
        [class.active]="isButtonActive('email')"
      >
        Change Email Address
      </button>
      <button
        class="Button" 
        mat-button 
        color="accent" 
        (click)="toggleChangePassword()" 
        [class.active]="isButtonActive('password')"
      >
        Change Password
      </button>
    </div>
    
    <div class="ShowPart" *ngIf="showChangeEmail">
      <h2>Change Email Address</h2>
      <label for="newEmail">New Email:</label>
      <input id="newEmail" type="email" [formControl]="newEmailControl" aria-label="New email address" placeholder="Enter your new email" />
      <p *ngIf="newEmailControl.invalid && newEmailControl.touched" class="error">Please enter a valid email address.</p>
      <button class="Button InButton" (click)="changeEmail()" [disabled]="newEmailControl.invalid">Validate</button>
      <button class="Button InButton" (click)="toggleChangeEmail()">Cancel</button>
      <p *ngIf="emailError" class="error">{{ emailError }}</p>
    </div>
    
    <div class="ShowPart" *ngIf="showChangePassword">
      <h2>Reset Password</h2>
      <label for="email">Email:</label>
      <input id="email" type="email" [formControl]="emailControl" aria-label="Email address" placeholder="Enter your email" />
      <p *ngIf="emailControl.invalid && emailControl.touched" class="error">Please enter a valid email address.</p>
      <button class="Button InButton" (click)="changePassword()" [disabled]="emailControl.invalid">Send Reset Email</button>
      <button class="Button InButton" (click)="toggleChangePassword()">Cancel</button>
      <p *ngIf="loginError" class="error">{{ loginError }}</p>
    </div>
    <button 
      class="Button"
      id="closeButton"
      mat-button 
      color="warn" 
      (click)="closeDialog()"
    >
      Close
    </button>
  </div>
  
  
  
</div>
