.recipe-card {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding: 0.75rem;
  border-radius: 5px;
}

.recipe-card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #ffcc4d;
  border-color: #ffcc4d;
  color: white;
  
}

.main-recipe-card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #ffcc4d;
  color: white;
}

.main-recipe-card {
  background-color: #e4e3e3;
  padding: 1rem;
  border-radius: 8px;
  cursor:pointer;
}

.recipe-name {
  font-size: 0.875rem;
  text-wrap:nowrap;
  max-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-attributs {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.recipe-attributs > * {
  font-size: 0.75rem;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
}

.recipe-category {
  font-size: 0.75rem;
  color: #666;
  
}
.imagebt{
  position: relative;
}

.recipe-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.favorite-btn {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 1%;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.favorite-btn mat-icon {
  color: white;
  text-shadow: 0px 0px 5px rgb(244, 4, 4);
  transition: transform 0.2s, color 0.3s;
}

.favorite-btn:hover mat-icon {
  transform: scale(1.2);
  text-shadow: 0px 0px 10px rgb(255, 100, 100);
}

.red-icon {
  color: red !important;
  text-shadow: 0px 0px 10px rgb(200, 0, 0);
}

.red-icon:hover mat-icon {
  transform: scale(1.2);
  text-shadow: 0px 0px 15px rgb(255, 0, 0);
}
