<div
  cdkDrag
  [ngClass]="{
    'recipe-card': displayType === 'sidebar',
    'main-recipe-card': displayType === 'main'
  }"
>
  <img
    *ngIf="displayType === 'main' && recipe.strMealThumb"
    [src]="recipe.strMealThumb + '/medium'"
    alt="{{ recipe.strMeal }}"
    class="recipe-image"
  />
  <div class="recipe-name">{{ recipe.strMeal }}</div>
  <div class="recipe-attributs">
    <div class="recipe-category">{{ recipe.strCategory }}</div>
    <div *ngIf="recipe.matchScore">{{ recipe.matchScore }}%</div>
    <div>{{ recipe.strArea }}</div>
  </div>
</div>
