<div class="blur-background"></div>
<div class="container">
    <!-- Main Content -->
    <div class="main-content">
        <div class="header">
          <h1 class="page-title">Creating a list</h1>
        </div>
       
        <!-- Wrapper pour les colonnes -->
        <div class="content-wrapper">
            <!-- Left Content -->
            <div class="left-content">
                <h2>Ingredients library</h2>
               
                <!-- Barre de recherche -->
                <div class="search-bar">
                    <input type="text" [(ngModel)]="searchText" 
                           placeholder="Search for an ingredient..." 
                           class="search-input"
                           (keyup)="filterIngredients()">
                    <button class="search-button" (click)="filterIngredients()">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
                
                <!-- Message de chargement -->
                <div *ngIf="isLoading" class="loading-message">
                  Loading ingredients...
                </div>
                
                <div
                    cdkDropList
                    #rightList="cdkDropList"
                    [cdkDropListData]="filteredIngredients"
                    [cdkDropListConnectedTo]="[leftList]"
                    class="ingredient-grid"
                    (cdkDropListDropped)="drop($event)"
                    cdkDropListAutoScroll
                    id="leftList"
              >
              
                  @for (ingredient of filteredIngredients; track ingredient.strIngredient) {
                    <div
                      cdkDrag
                      class="main-recipe-card"
                    >
                        <div class="recipe-image-placeholder"></div>
                        <div class="recipe-name">{{ ingredient.strIngredient }}</div>
                    </div>
                  }
                </div>
            </div>
            
            <!-- Right Content -->
            <div class="right-content">
                <h2>Creating your new list</h2>
                
                <!-- Champ pour le nom de la liste -->
                <div class="list-name-container">
                  <!-- <label for="listName">Nom de la liste :</label>-->
                  <input 
                    type="text" 
                    id="listName" 
                    [(ngModel)]="listName" 
                    placeholder="Enter a name for your list"
                    required
                  >
                </div>
                
                <div
                    cdkDropList
                    #leftList="cdkDropList"
                    [cdkDropListData]="rigthIngredient"
                    class="ingredient-grid"
                    (cdkDropListDropped)="drop($event)"
                    cdkDropListAutoScroll
                    id="rightList"
              >
                @for (ingredient of rigthIngredient; track ingredient.strIngredient; let i = $index) {
                  <div cdkDrag class="main-recipe-card">
                      <div class="recipe-image-placeholder"></div>
                      <div class="recipe-name">{{ ingredient.strIngredient }}</div>
                      <button class="remove-button" (click)="removeFromRight(i)">✕</button>
                  </div>
                }
              </div>
                <div class="button">
                    <button class="cancel-button" [routerLink]="['/main']">Cancel</button>
                    <button class="save-button" (click)="saveList()">Save list</button>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  