<html>
<body>
  <div class="recipe-container">
    <div class="recipe-header">
      <h1 id="mealName">Nom de la recette : {{Recipe.strMeal}}</h1>
      <img id="mealThumb" src="{{Recipe.strMealThumb}}" alt="Image de la recette">
    </div>
    <div class="recipe-details">
      <h2>Catégorie : <span id="mealCategory">{{Recipe.strCategory}}</span></h2>
      <h3>Origine : <span id="mealArea">{{Recipe.strArea}}</span></h3>
      <p id="mealInstructions">Instructions : {{Recipe.strInstructions}}</p>
    </div>
    <div class="ingredients">
      <h3>Ingrédients : {{Recipe.strIngredients}}</h3>
      <ul id="ingredientsList">
      </ul>
    </div>
    <div class="links">
      <a id="mealYoutube" href="{{Recipe.strYoutube}}" target="_blank">Vidéo YouTube</a>
      <a id="mealSource" href="{{Recipe.strSource}}" target="_blank">Source de la recette</a>
    </div>
  </div>
</body>
</html>
