<div class="recipe-container">
  <div class="recipe-header">
    <div>
      <button class="favorite-btn" (click)="toggleFavorite($event)" *ngIf="displayType === 'main'">
        <mat-icon *ngIf="!isFavorited">favorite_border</mat-icon>
        <mat-icon *ngIf="isFavorited" class="red-icon">favorite</mat-icon>
      </button>
      <img id="mealThumb" src="{{recipe.strMealThumb}}" alt="recipe image">
    </div>
    <h1 id="mealName">{{recipe.strMeal}}</h1>
  </div>
  <div class="recipe-content">
    <div class="recipe-left">
      <h2>Category: <span id="mealCategory">{{recipe.strCategory}}</span></h2>
      <h3>Origin : <span id="mealArea">{{recipe.strArea}}</span></h3>
      <div class="recipe-details">
        <div class="ingredients">
          <h2>Ingredients</h2>
          <ul id="ingredientsList" class="multi-column-list">
            <li *ngFor="let ingredient of recipe.strIngredients">{{ ingredient }}</li>
          </ul>
        </div>
        <h3>Instructions</h3>
        <p id="mealInstructions">{{recipe.strInstructions}}</p>
      </div>
      
    </div>
    <div class="recipe-right">
      <div class="video-player">
        <h2>Video tutorial</h2>
        <app-videoplayer [video]="recipe.strYoutube"></app-videoplayer>
      </div>
    </div>
  </div>
  
  <div class="links">
    <a id="mealYoutube" href="{{recipe.strYoutube}}" target="_blank">YouTube video</a>
    <a id="mealSource" href="{{recipe.strSource}}" target="_blank">Recipe source</a>
  </div>
</div>