<div class="recipe-container">
  <div class="recipe-header">
    <img id="mealThumb" src="{{recipe.strMealThumb}}" alt="recipe image">
    <h1 id="mealName">{{recipe.strMeal}}</h1>
  </div>
  <div class="recipe-content">
    <div class="recipe-left">
      <div class="recipe-details">
        <h2>Category: <span id="mealCategory">{{recipe.strCategory}}</span></h2>
        <h3>Origin : <span id="mealArea">{{recipe.strArea}}</span></h3>
        <h3>Instructions</h3>
        <p id="mealInstructions">{{recipe.strInstructions}}</p>
      </div>
      <div class="ingredients">
        <h2>Ingredients</h2>
        <h3>{{recipe.strIngredients}}</h3>
        <ul id="ingredientsList">
        </ul>
      </div>
    </div>
    <div class="recipe-right">
      <div class="video-player">
        <app-videoplayer [video]="recipe.strYoutube"></app-videoplayer>
      </div>
    </div>
  </div>
  
  <div class="links">
    <a id="mealYoutube" href="{{recipe.strYoutube}}" target="_blank">YouTube video</a>
    <a id="mealSource" href="{{recipe.strSource}}" target="_blank">recipe source</a>
  </div>
</div>
