<div class="blur-background"></div>
<div class="global-container">
  <button class="menu-button" (click)="toggleSidebar()">☰</button>
  <div class="container">
    <!-- Sidebar -->
    <div class="sidebar" [class.open]="isSidebarOpen">
      <div class="sidebar-background"></div>
      <div class="sidebar-list">
        <div class="MyList-header">
          <h2 class="sidebar-title"><mat-icon>list</mat-icon> My Lists</h2>
          <button class="MyListButton" mat-icon-button color="primary" (click)="addList()">
            <mat-icon id="MyList-AddButton">add</mat-icon>
          </button>
        </div>
        <div class="sidebar-list-container">
          <!-- Content for My List -->
          <div class="sidebar-card" *ngFor="let list of ingredientsList">
            <div class="sidebar-recipe-name">{{ list.name }}</div>
            <div class="sidebar-recipe-attributs">
              <div>{{ list.ingredients.length }} ingredients</div>
            </div>
            <div><button (click)="editList(list.id)">modifier</button></div>
          </div>
        </div>
      </div>
      <div class="sidebar-list">
        <h2 class="sidebar-title">
          <mat-icon>favorite</mat-icon> My Favorites
        </h2>
        <div class="favorites-container">
          <div class="sidebar-card" *ngFor="let recipe of favoriteRecipesList"
          (click)="openDescriptionDialog(recipe.idMeal)">
            <div class="sidebar-recipe-name">{{ recipe.strMeal }}</div>
            <div class="sidebar-recipe-attributs">
              <div>{{ recipe.strCategory }}</div>
              <div>{{ recipe.strArea }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <div class="header">
        <div class="title-part">
          <div class="title-div">
            <h1 class="page-title">Find a new recipe</h1>
          </div>
          <app-bottom-bar></app-bottom-bar>
        </div>
        <div class="buttons-container">
          <button mat-raised-button class="green-button" (click)="resetFilters()">
            <mat-icon>refresh</mat-icon> Reset Filters
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="loadRandomMeals(15)"
            class="random-button"
          >
            <mat-icon>shuffle</mat-icon> Random Recipe
          </button>
        </div>
      </div>

      <!-- Filtres -->
      <app-filter></app-filter>

      <!-- No results message -->
      <div class="no-results" *ngIf="!isLoading && RecipesList.length === 0">
        <mat-icon>search_off</mat-icon>
        <p>
          No recipes found matching your criteria. Try changing your filters.
        </p>
      </div>

      <!-- Recipes Grid -->
      <div
        class="recipe-grid"
      >
        @for (recipe of RecipesList; track recipe.idMeal) {
          <app-simplified-card
            [recipe]="recipe"
            displayType="main"
            (click)="openDescriptionDialog(recipe.idMeal)"
          >
          </app-simplified-card>
        }
      </div>
    </div>
  </div>
</div>