<div class="blur-background"></div>
<div class="global-container">
  <div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
      <div class="sidebar-list">
        <h2 class="sidebar-title"><mat-icon>list</mat-icon> My List</h2>
        <div class="sidebar-list-container">
        </div>
      </div>
      <div class="sidebar-list">
        <h2 class="sidebar-title">
          <mat-icon>favorite</mat-icon> My Favorites
        </h2>
        <div class="sidebar-card" *ngFor="let recipe of favoriteRecipesList">
          <div class="sidebar-recipe-name">{{ recipe.strMeal }}</div>
          <div class="sidebar-recipe-attributs">
            <div>{{ recipe.strCategory }}</div>
            <div>{{ recipe.strArea }}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <div class="header">
        <div class="title-part">
          <div class="title-div">
            <h1 class="page-title">Find a new recipe</h1>
          </div>
          <app-bottom-bar></app-bottom-bar>
        </div>
        <div class="buttons-container">
          <button mat-raised-button color="primary" (click)="resetFilters()">
            <mat-icon>refresh</mat-icon> Reset Filters
          </button>
          <button
            mat-raised-button
            color="accent"
            (click)="loadRandomMeals(15)"
            class="random-button"
          >
            <mat-icon>shuffle</mat-icon> Random Recipe
          </button>
        </div>
      </div>

      <!-- Filtres -->
      <div class="filters-container">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Search by recipe name</mat-label>
          <input
            matInput
            type="text"
            [formControl]="searchControl"
            placeholder="Enter recipe name..."
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select [formControl]="selectedCategory">
            <mat-option [value]="">All Categories</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category">
              {{ category }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" >
          <mat-label>Region</mat-label>
          <mat-select [formControl]="selectedRegion">
            <mat-option [value]="">All Regions</mat-option>
            <mat-option *ngFor="let region of regions" [value]="region">
              {{ region }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Ingredients</mat-label>
          <mat-select [formControl]="selectedIngredientsList" multiple>
            <mat-option
              *ngFor="let ingredient of ingredientsList"
              [value]="ingredient"
            >
              {{ ingredient }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="alphabet-filter">
          <span id="text-filter">Filter by first letter:</span>
          <div class="letter-container">
            <mat-chip-option
              *ngFor="let letter of alphabet"
              [value]="letter"
              (click)="selectedLetter.setValue(letter)"
              [selected]="selectedLetter.value === letter"
            >
              {{ letter }}
            </mat-chip-option>
          </div>
        </div>
      </div>

      <!-- No results message -->
      <div class="no-results" *ngIf="!isLoading && RecipesList.length === 0">
        <mat-icon>search_off</mat-icon>
        <p>
          No recipes found matching your criteria. Try changing your filters.
        </p>
      </div>

      <!-- Recipes Grid -->
      <div
        cdkDropList
        #mainList="cdkDropList"
        cdkDropListOrientation="mixed"
        [cdkDropListData]="RecipesList"
        class="recipe-grid"
        (cdkDropListDropped)="drop($event)"
        cdkDropListAutoScroll
      >
        <app-simplified-card
          *ngFor="let recipe of RecipesList"
          [recipe]="recipe"
          displayType="main"
        >
        </app-simplified-card>
      </div>
    </div>
  </div>
</div>
